.aboutMain {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2%;
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(
      to right,
      var(--secondary-color) 25%,
      rgba(0, 0, 0, 0)
    )
    1;
}

.aboutMain p {
  font-size: 1rem;
  /* color: var(--dark-color); */
}
