.hero {
  width: 100%;
  height: 100vh;
  margin-right: 15%;
  animation: color_change 180s infinite alternate;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 0;
  /* right: 5%; */
}

.heroContainer {
  max-width: 100%;
  padding: 0 25% 10% 0;
}

.heroContent {
  display: flex;
  margin-left: 15%;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.75s ease-in-out;
}

.heroShapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-right: 5%;
}

.heroElement {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--main-color);
}

.heroLine {
  width: 5px;
  height: 40vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 182, 112, 0.607),
    rgba(71, 207, 249, 0.477) 68%,
    rgba(1, 65, 255, 0) 90%
  );
}

.heroTitleSpan {
  color: var(--main-color);
}

.heroIntro {
  line-height: 1.75rem;
  font-size: 1.25rem;
  max-width: 50%;
}

.heroStyledText {
  color: var(--main-color);
  font-family: var(--handlee-font);
  font-size: 1.25em;
}

.heroStyledText:hover {
  animation: color_change 20s infinite alternate;
}

@keyframes color_change {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .heroContent {
    /* justify-content: center; */
    margin: 10%;
  }

  .heroIntro {
    max-width: 100%;
  }
}
