.navMain {
  background-color: #000000;
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  padding: 0.5rem 5rem;
  width: 100%;
  height: 6%;
  position: fixed;
  z-index: 999;
}
.navLeft {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.navLinks li {
  margin-left: 4%;
}

.menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navMain {
    font-size: 0.75rem;
    justify-content: flex-start;
    padding: 0;
  }

  .navLeft {
    width: 50%;
  }

  .navLinks {
    display: none;
  }

  .menu {
    display: block;
    padding: 0.5rem 1rem;
    width: 50%;
    border: 1px solid var(--main-color);
  }
}
