.projectMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 5%;
}

.projectContainer {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  margin: 2% 0;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  width: 85%;
  min-height: 90vh;
  background: radial-gradient(rgba(9, 1, 64, 0.548), rgba(0, 0, 0, 0.548));
}

.projectContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: fade_in 1s ease-in-out;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  font-size: 1.5em;
  line-height: 1.35em;
}
.projectInfo h1 {
  margin-bottom: 2%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(
      to left,
      var(--secondary-color) 25%,
      rgba(0, 0, 0, 0)
    )
    1;
}
.projectImage {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 2% 0;
  animation: fade_in 1s ease-in-out;
}

.projectExtra {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectLinks {
  width: 50%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.projectGH {
  filter: invert(1);
}

.projectTechList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.projectTech {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .projectContainer {
    width: 95%;
    flex-direction: column;
  }
  .projectInfo {
    max-width: 90%;
    font-size: 1.15rem;
  }

  .projectContent {
    flex-direction: column;
  }
  .projectImage {
    gap: 2%;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
