.resumeMain {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(
      to right,
      var(--secondary-color) 25%,
      rgba(0, 0, 0, 0)
    )
    1;
}

.skillsContainer {
  display: flex;
  width: 85%;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  align-items: center;
}
