.resumeMain {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(
      to right,
      var(--secondary-color) 25%,
      rgba(0, 0, 0, 0)
    )
    1;
}

.skillsContainer {
  background: radial-gradient(rgba(9, 1, 64, 0.548), rgba(0, 0, 0, 0.548));
  padding: 4%;
  border-radius: 10px;
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
}

.skillCard {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1%;
  margin: 8px;
  transform: rotate(25deg);
  background: radial-gradient(var(--main-glass) 40%, transparent);
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  animation: antirotate 0.85s ease-in-out;
}

.skillCard:hover {
  animation: rotate 2s linear infinite;
  scale: 1.2;
  transition: scale 0.25s ease-in-out;
}

.skillCard img {
  transform: rotate(-25deg);
  z-index: 100;
  animation: rotate 0.85s ease-in-out;
}

.skillCard img:hover {
  scale: 1.2;
  transition: scale 0.25s ease-in-out;
}

.skillCard:hover img {
  animation: antirotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(385deg);
  }
}

@keyframes antirotate {
  0% {
    transform: rotate(-25deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-385deg);
    opacity: 1;
  }
}
