.workMain {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.projectsContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
.projectCard {
  width: 20%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgba(9, 1, 64, 0.548), rgba(0, 0, 0, 0.548));
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2%;
}

.projectImage {
  width: 100%;
  height: 60%;
  display: flex;
  position: relative;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2%;
}

.projectInfo {
  text-align: center;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projectInfo p {
  font-size: 20px;
  margin-bottom: 4%;
}
.projectLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projectSubLinks {
  width: 100%;
  margin-top: 6%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}

.projectLinks button {
  cursor: pointer;
}

.projectSubLinks button {
  background: transparent;
  border: none;
  filter: brightness(100);
}

.character-sheet-image {
  filter: brightness(100);
}

@media screen and (max-width: 1200px) {
  .projectsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
  }

  .projectCard {
    width: 95%;
    height: 95%;
  }
}
